<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
          UpgradeCode="381835F6-B008-45AF-B062-4FF2F972AE6D"
          Language='1033' Codepage='1252' Version='$(var.ProductVersion)'
          Name="GatebluService"
          Manufacturer='Octoblu'>

    <Package Id='*' Keywords='Installer' Description="Octoblu IOT Gateway Service"
          Comments='Blaaaa' Manufacturer='Octoblu'
          InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <MajorUpgrade DowngradeErrorMessage="Can’t downgrade." />

    <Media Id='1' EmbedCab='yes' Cabinet="main.cab" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)\LICENSE.rtf" />
    <!-- <WixVariable Id="WixUIBannerBmp" Value="$(var.SourceDir)\public\images\msi-banner.bmp" /> -->
    <!-- <WixVariable Id="WixUIDialogBmp" Value="$(var.SourceDir)\public\images\msi-welcome.bmp" /> -->

    <Icon Id="icon.ico" SourceFile="$(var.SourceDir)\images\gateblu.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Property Id="ASSISTANCE_START_VIA_REGISTRY">1</Property>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Octoblu_Folder' Name='Octoblu'>
          <Directory Id='INSTALLDIR' Name='GatebluService'>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentGroupRef Id='MainComponentGroup' />
      <Component Id="node_component" Guid="{AAAAAAAA-C0C2-4D3F-BC22-EC7AE4963FFF}" Directory="INSTALLDIR">
        <CreateFolder />
        <File Id="node" KeyPath="yes" Source="$(var.CacheDir)\node.exe" />
        <Environment Id="MESHBLU_JSON_FILE"
                 Action="set"
                 Part="all"
                 Name="MESHBLU_JSON_FILE"
                 Permanent="yes"
                 System="no"
                 Value="%LOCALAPPDATA%\Octoblu\GatebluService\meshblu.json"/>
        <Environment Id="GATEBLU_TMP_PATH"
                 Action="set"
                 Part="all"
                 Name="GATEBLU_TMP_PATH"
                 Permanent="yes"
                 System="no"
                 Value="%LOCALAPPDATA%\Octoblu\GatebluService\tmp"/>
      </Component>
      <Component Id="GatebluServiceAutostart" Guid="45730905-EAFD-4653-9674-30972861595C" Directory="INSTALLDIR">
        <RegistryValue Id="GatebluService.rst" Root="HKMU" Action="write"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="GatebluService"
                       Value="[INSTALLDIR]GatebluServiceTray.exe"
                       Type="string" />
        <Condition>ASSISTANCE_START_VIA_REGISTRY</Condition>
      </Component>

      <ComponentRef Id="GatebluServiceAutostart" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="WixUI" />
    <Property Id="ALLUSERS" Value="1"></Property>
    <Property Id="REBOOT" Value="Force"></Property>
  </Product>
</Wix>
