<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>

    <CustomAction
      Id='RegisterGatebluService'
      Impersonate="no"
      Execute="deferred"
      FileKey='nssm'
      ExeCommand='install "GatebluService" "[INSTALLDIR]\node.exe" command.js'
      Return='asyncWait' />

  </Fragment>
</Wix>
